{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
           <img  src="{{p.image.url}}" height="400px" width="400px">
        </div>
        <div class="col-sm-6">
            <h2>{{p.name}}</h2>
            <p class="h4 mt-5 lh-base" style="text-align:justify;">{{p.desc}}</p>
            <h2 class="mt-4">{{p.price}}</h2>
            {{p.stock}}
            {% if user.is_superuser == True %}
            {% if p.stock == 0 %}

            <h2>Out of stock</h2>
            <a href="{% url 'admin:index' %}" class="btn btn-danger mt-5">ADD STOCK</a>
            {% else %}
            <h2>Product in stock</h2>
            <a href="{% url 'admin:index' %}" class="btn btn-danger mt-5">ADD STOCK</a>
            {% endif %}

            {% else %}

            {% if p.stock == 0 %}
            <h2>Out of stock</h2>
            {% else %}
            <a href="{% url 'cart:addtocart' p.name  %}" class="btn btn-danger mt-5">ADD TO CART</a>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}