{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
      <img src="{{c.image.url}}" height="450px" width="100%">
</div>
<div class="container-fluid mt-3" style="margin-bottom:100px;">
    <h3 class="text-center fw-bold">{{c.name}}</h3>
    <p style="...">{{c.desc}}</p>
</div>
<div class="container-fluid mt-3" style="margin-bottom:100px;">
      <div class="row">
            {% for i in p %}
            <div class="col-sm-4">
                  <div class="card" style="...">
                        <img src="{{i.image.url}}" height="200px" width="100%" class="card-img-top" alt="...">
                        <div class="card-body">
                              <h5 class="card-title text-center">{{i.name}}</h5>
                                <h6 class="card-title text-center">{{i.price}}</h6>
                              <a href="{% url 'shop:detail' i.name %}" style="position:relative;left:42%;" class="btn btn-primary">details</a>
                        </div>
                  </div>
            </div>{% endfor %}
      </div>
</div>
{% endblock %}
