<!DOCTYPE html>
 {% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container"  style="margin-bottom:100px;">
<center>
    <h5> You Have Searched For{{query}}</h5>
    {% if p %}

      <div class="row">
            {% for i in p %}
            <div class="col-sm-3" style="margin-right:10px;margin-bottom:10px;">
                  <div class="card" style="width:18rem">
                        <img src="{{i.image.url}}" height="200px" width="100%" class="card-img-top" alt="...">
                        <div class="card-body">
                              <h5 class="card-title text-center">{{i.name}}</h5>
                                <h6 class="card-title text-center">{{i.price}}</h6>
                              <a href="{% url 'shop:detail' i.name %}" style="position:relative;left:42%;" class="btn btn-primary">details</a>
                        </div>
                  </div>
            </div>{% endfor %}
            </div>



    {% else %}
    <h6 class="text-center">no results found</h6>
    {% endif %}
</center>
</div>
{% endblock %}